body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8d645;
    text-align: center;
    padding: 20px;
}

nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

#alumni form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

#alumni input, #alumni textarea {
    margin-bottom: 10px;
}

section {
    margin: 50px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
}

/* style.css 文件中的样式 */
header {
    background-image: url('gwbj.jpg'); /* 图片路径 */
    background-position: center; /* 图片位置居中 */
    background-repeat: no-repeat; /* 图片不平铺 */
    background-size: cover; /* 图片自适应覆盖整个区域 */
    padding: 20px; /* 可选，为header内元素留出空间 */
    /* 以下为可选样式，根据实际情况调整 */
    height: 300px; /* 或者使用min-height以适应内容 */
    position: relative; /* 如果需要在header内绝对定位元素 */
}
