body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8d645;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

#alumni form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

#alumni input, #alumni textarea {
    margin-bottom: 10px;
}

section {
    margin: 50px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
}